@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: #f0f4f8;
  color: #1a202c;
  height: 100vh;
  font-size: 18px;
}
a {
  color: #8260e9;
  text-decoration: none;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  max-width: 600px;
  padding: 20px;
}
label {
  text-align: left;
  font-size: 1rem;
}
.header {
  margin-bottom: 20px;
}
.header h1 {
  font-size: 2rem;
  margin: 0;
}
.input-section,
.output-section {
  margin: 10px 0;
  width: 100%;
}
textarea {
  width: 100%;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  box-sizing: border-box;
  resize: none;
  height: 200px;
  line-height: 30px;
  margin-top: 10px;
}
.button-section {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
button {
  padding: 10px 20px;
  margin: 0 5px;
  border: none;
  border-radius: 5px;
  background-color: #0070f3;
  color: white;
  cursor: pointer;
  flex: 1;
}
button:hover {
  background-color: #005bb5;
}
.output-section textarea {
  background-color: #f0f0f0;
}
.toast {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #333;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  opacity: 0.9;
}
footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  position: fixed;
  bottom: 0;
  padding-bottom: 20px;
}
@media (max-width: 600px) {
  .button-section {
    flex-direction: column;
    align-items: center;
  }
  button {
    margin: 5px 0;
    width: 100%;
  }
  footer {
    display: none;
  }
}
